// .cat-img-top {
//     width: 100%;
//     // height: 15vw;
//     object-fit: cover;
// }

.card.scategory {
    width: 14rem;
    margin: 10px 20px;
    border-radius: 5px;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.04)
    }

    img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .body {

    }
}