@import './variables.scss';

#appCont {
  min-height: 100vh;
}

body {
  color: $font-main-color;
  font-family: $font-main;
  background-color: $white-color;
  background-image: url('../images/background-main-01.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: fit;
  background-position: bottom;
}

.leaderboard-cont {
  margin-top: 80px;
  padding: 0;
}

.leaderboard-jumbo {
  padding: 0;
  background-color: $secondary-color;
}

.footer {
  background-color: $accent-color;
}

.footer-logo {
  font-family: $font-heading;
  text-transform: uppercase;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

